# Don't mess with the eighth bit of characters
set input-meta on
set output-meta on

# Never ring any sort of bell during line reading
set bell-style none

# Let readline do stuff like word killing, not stty(1)
set bind-tty-special-chars off

# Treat underscores and hyphens the same way for completion purposes
set completion-map-case on

# Expand tilde to full path on completion
set expand-tilde on

# Add a trailing slash for directories and symlinked directories
set mark-directories on
set mark-symlinked-directories on

# Show multiple completions on first tab press
set show-all-if-ambiguous on

# Bash macros
$if Bash

    # Expand ! history with a spacebar press
    # Note that this makes your shell unusable if your Bash doesn't have
    # magic-space.  It's had this feature since 2.02.
    Space: magic-space

    # Ctrl-W to delete a previous shell-quoted word
    # https://shallowsky.com/blog/linux/bash-word-erase.html
    "\C-w": backward-kill-word

$endif
